//mune button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #fff;
    @include easeOut;
  }

  //rotate hamburger to X
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //line 1 will rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //line 2 hide
      &:nth-child(2) {
        display: none;
      }
      //line 3 rotate
      &:nth-child(3) {
        //background-color: red;
        transform: rotate(-45deg) translate(2px, 0px);
      }
    }
  }
}

//menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
  //same as .menu-branding
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($color: $primary-color, $amount: 5%);
    list-style: none;
    @include easeOut;

    transform: translate3d(0, -100%, 0);

    //when show class is applied, slide nav in from top
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  //branding side - same as nav
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    //when show class is applied, slide branding in from bottom
    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      background: $profile-image;
      width: 250px;
      height: 250px;
      opacity: 1;
      border-radius: 50%;
      border: 3px solid $secondary-color;
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    //when show class is applied, slide nav from right
    &.show {
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

//delay each nav item slide by 0.1s
//SASS code for a for loop similar to
// for(let x = 1, x < 4, x++)
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
